@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "variables.css";
@import "reset.css";
@import "components/status-bar.css";

body {
  color: var(--black);
  font-family: "Noto Sans KR", sans-serif;
}

.welcome-header {
  margin-top: 20px;
  box-sizing: content-box;
  padding: 72px 64px 64px 64px;
  text-align: center;
}

.welcome-header h1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
  letter-spacing: -0.5px;
}

.welcome-header h2 {
  font-size: 15px;
  opacity: 0.6;
  line-height: 19px;
}
