#chat-screen {
  background-color: #abc1d1;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #abc1d1;
  box-sizing: border-box;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  top: 10px;
  z-index: 1;
}

.main-chat {
  margin-top: 90px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 8px 15px;
  font-size: 12px;
  font-weight: 200;
  opacity: 0.7;
  border-radius: 25px;
  margin-bottom: 20px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}

.message-row img {
  width: 38px;
  height: 38px;
  border-radius: 38%;
  margin-right: 10px;
}

.message__author {
  margin-bottom: 8px;
  display: block;
  opacity: 0.7;
  font-size: 12px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 11px;
  font-size: 15px;
  border-radius: 0 15px 15px 15px;
  margin-right: 5px;
}

.message__time {
  opacity: 0.7;
  font-size: 10px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-radius: 15px 0 15px 15px;
  margin-left: 5px;
  margin-right: 0;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 5px 25px;
  box-sizing: border-box;
  height: 50px;
}

.reply__column:first-child {
  width: 10%;
}

.reply__column:last-child {
  width: 90%;
}

.reply__column:last-child {
  display: flex;
  align-items: center;
  position: relative;
}

.reply__column input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid var(--gray);
  padding: 4px 12px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  font-size: 15px;
}

.reply__column i {
  opacity: 0.5;
}

.reply__column .fa-plus-square {
  font-size: 28px;
}

.reply__column__emoticon {
  position: absolute;
  right: 34px;
  font-size: 12px;
}

.reply__column__send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 5px;
  background-color: var(--yellow);
  border: 1px solid var(--gray);
  border-radius: 50%;
}

.reply__column__send i {
  opacity: 1;
  font-size: 12px;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  animation: fadeIn 0.8s linear;
}

.reply {
  transition: all 0.3s ease-in-out;
}

.reply input {
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}
