.settings__setting {
  padding: 18px 20px;
  font-size: 16px;
  border-bottom: 1px solid rgba(165, 165, 165, 0.1);
  display: flex;
  justify-content: space-between;
}

.settings__setting-column:nth-child(2) {
  opacity: 0.5;
}

.settings__setting span {
  margin-left: 20px;
}
